*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem = 10px
    font-size: 62.5%;

    // width > 1800
    @include respond(big-desktop) {
        font-size: 75%;
    }

    // width < 1200
    @include respond(tab-land) {
        font-size: 56.25%;
    }

    // width < 900
    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    // width < 900
    @include respond(tab-port) {
        padding: 0;
    }
}
