.gallery {
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    gap: 1.5rem;
    
    grid-template-areas:     
    "a a b b b c d d"
    "a a b b b c d d"
    "e e b b b f f g"
    "e e h h i f f g"
    "e e h h j j j g"
    "k l l m j j j n" 
    "k l l m j j j n";

    padding: 1.5rem;

    &__item {

        &--1 {grid-area: a;}
        &--2 {grid-area: b;}
        &--3 {grid-area: c;}
        &--4 {grid-area: d;}
        &--5 {grid-area: e;}
        &--6 {grid-area: h;}
        &--7 {grid-area: i;}
        &--8 {grid-area: f;}
        &--9 {grid-area: g;}
        &--10 {grid-area: k;}
        &--11 {grid-area: l;}
        &--12 {grid-area: m;}
        &--13 {grid-area: j;}
        &--14 {grid-area: n;}
    }
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}